

#towers {
  align-items: center;
  display: flex;
  justify-content: center;
}
.tower {
  width: 50px;
  height: 300px;
  background-color: #f0f0f0;
  position: relative;
  border: 1px solid black;
  margin-left: 175px;
}

.disc1, .disc2, .disc3, .disc4, .disc5, .disc6, .disc7, .disc8, .disc9 {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0 ;
  height: 20px;
}

.disc1 {
  width: 200px;
  background-color: #007bff;
  bottom: 20px;
  left: -75px;
}

.disc2 {
  width: 180px;
  background-color: #0cec44;
  bottom: 40px;
  left: -65px;
}

.disc3 {
  width: 160px;
  background-color: #ff1100;
  bottom: 60px;
  left: -55px
}

.disc4 {
  width: 140px;
  background-color: #e5ff00;
  bottom: 80px;
  left: -45px;
}

.disc5 {
  width: 120px;
  background-color: #fa11a1;
  bottom: 100px;
  left: -35px;
}

.disc6 {
  width: 100px;
  background-color: #ff1100;
  bottom: 120px;
  left: -25px;
}

.disc7 {
  width: 80px;
  background-color: #ff1100;
  bottom: 140px;
  left: -15px;
}

.disc8 {
  width: 60px;
  background-color: #ff1100;
  bottom: 160px;
  left: -5px;
}

.disc9 {
  width: 40px;
  background-color: #ff1100;
  height: 20px;
  bottom: 180px;
  left: 5px;
}

.bottom {
  width: 220px;
  height: 20px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: -85px;
}